// sass-lint:disable-all 

:root {
  --connection-path-lenght: 0px;
}

.connection {
  color: violet;
  & svg {
    & path {
      fill: none;
      stroke: $euiColorLightShade;
      stroke-width: 3px;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 0;
      // stroke-dasharray: 50px 4px;
      transition: d 0.5s;
    }
    & .central-path {
      stroke-width: 1px;
      // stroke-dasharray: 1px 12px;
    }
    & .lines {
      stroke-linecap: round;
      & .line {
      stroke: $euiColorLightShade;
      stroke-width: 3px;
      // opacity: 0;
      }
      & .bigLine {
        stroke-width: 8%;
        stroke: $euiColorGhost;
      }
    }
  }
}

@keyframes connection {
  0% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1px 12px;
    stroke-width: 3px;
    stroke: $euiColorPrimary;
  }
  50% {
    stroke-dashoffset: var(--connection-path-lenght);
    stroke-dasharray: 1px 12px;
    stroke-width: 2px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1px 12px;
    stroke-width: 3px;
    stroke: $euiColorPrimary;
  }
}

@keyframes close {
  to {
    transform-origin: center 150% center;
    // transform: scale(0.1, 1);
    transform: rotateX(-15deg);
    transform: rotateY(-90deg);
  }
}

@keyframes hide {
  to {
    opacity: 0;
    // transform: translateY(50px);
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}
