$euiButtonColorDisabled: $euiColorDisabled;
$euiButtonColorDisabledText: $euiColorDisabledText;
$euiButtonDefaultTransparency: .8;
$euiButtonFontWeight: $euiFontWeightMedium;

$euiButtonMinWidth: 106px;
$euiButtonHeight: 38px;
